absl-py
asgiref
astunparse
certifi
cffi
charset-normalizer
contourpy
cryptography
cycler
Django
django-cors-headers
flatbuffers
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
joblib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
namex
numpy
oauthlib
opt_einsum
optree
packaging
pandas
pillow
protobuf
pyasn1
pyasn1_modules
pycparser
Pygments
pyparsing
python-dateutil
requests
requests-oauthlib
rich
scikit-learn
scipy
six
sqlparse
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
typing_extensions
tzdata
urllib3
Werkzeug
whitenoise
wrapt
Django
gunicorn
whitenoise
psycopg2-binary
django-cors-headers
pillow
numpy==1.23.5
pandas
scikit-learn
tensorflow-cpu==2.10.0
opencv-python-headless
streamlit